# Cleaning up other resources

## finding other important data for each country and year

In [1]:
import pandas as pd
import time
import os

In [2]:
# ../Resources/government_stability/
filepath1 = "../Resources/government_stability/e78fa797-1ac1-48e7-9992-e55cb8dbb19d_Data.csv"
filepath2 = "../Resources/government_stability/e78fa797-1ac1-48e7-9992-e55cb8dbb19d_Series - Metadata.csv"
df1 = pd.read_csv(filepath1)
df2 = pd.read_csv(filepath2)

# ../Resources/Possible_factors/
filepath3 = "../Resources/Possible_factors/Disaster_data.csv"
df3 = pd.read_csv(filepath3)

# ../Resources/worldbank/world_data.csv
filepath4 = "../Resources/worldbank/world_data.csv"
df4 = pd.read_csv(filepath4)
# filepath5 = "../Resources/worldbank/world_data_meta.csv"
# df5 = pd.read_csv(filepath5)

# clean_df2222.to_csv('../Resources/DataFrames/athleteEventsAggFinalNaN.csv', index=False, header=True)
final_athlete_df = pd.read_csv("../Resources/DataFrames/athleteEventsAggFinalNaN.csv")
final_athlete_df.head(2)

,Year,NOC,Total Athletes,Medal Count,Average Age (M),Average Height (M),Average Weight (M),Average Age (F),Average Height (F),Average Weight (F)
0,1896,AUS,3,4.0,22.25,NaN,NaN,NaN,NaN,NaN
1,1896,AUT,3,5.0,21.75,NaN,NaN,NaN,NaN,NaN

In [3]:
print(df1.shape)
df1.head(1)

(1601, 68)

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,Afghanistan,AFG,Control of Corruption: Estimate,CC.EST,..,..,..,..,..,..,...,-1.36474287509918,-1.35423982143402,-1.54035270214081,-1.53190970420837,-1.50288057327271,-1.41949915885925,-1.49369978904724,-1.15232741832733,-1.18377649784088,..

In [4]:
print(df2.shape)
df2.head(1)

(1608, 68)

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,Afghanistan,AFG,Control of Corruption: Estimate,CC.EST,..,..,..,..,..,..,...,-1.36474287509918,-1.35423982143402,-1.54035270214081,-1.53190970420837,-1.50288057327271,-1.41949915885925,-1.49369978904724,-1.15232741832733,-1.18377649784088,..

In [5]:
print(list(df1['Country Name'].unique()))
print(len(list(df1['Country Name'].unique())))

['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands', 'Central African Republic', 'Chad', 'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czechia', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong SAR, China', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', "Korea, Dem. People's Rep.", 'Korea, Rep.', 'Kosovo', 'Kuwait', 'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao SAR, China', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia', 'St. Martin (French part)', 'St. Vincent and the Grenadines', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkiye', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela, RB', 'Viet Nam', 'Virgin Islands (U.S.)', 'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe', 'Africa Eastern and Southern', 'Africa Western and Central', 'Arab World', 'Caribbean small states', 'Central Europe and the Baltics', 'Early-demographic dividend', 'East Asia & Pacific', 'East Asia & Pacific (excluding high income)', 'East Asia & Pacific (IDA & IBRD countries)', 'Euro area', 'Europe & Central Asia', 'Europe & Central Asia (excluding high income)', 'Europe & Central Asia (IDA & IBRD countries)', 'European Union', 'Fragile and conflict affected situations', 'Heavily indebted poor countries (HIPC)', 'High income', 'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only', 'IDA total', 'Late-demographic dividend', 'Latin America & Caribbean', 'Latin America & Caribbean (excluding high income)', 'Latin America & the Caribbean (IDA & IBRD countries)', 'Least developed countries: UN classification', 'Low & middle income', 'Low income', 'Lower middle income', 'Middle East & North Africa', 'Middle East & North Africa (excluding high income)', 'Middle East & North Africa (IDA & IBRD countries)', 'Middle income', 'North America', 'Not classified', 'OECD members', 'Other small states', 'Pacific island small states', 'Post-demographic dividend', 'Pre-demographic dividend', 'Small states', 'South Asia', 'South Asia (IDA & IBRD)', 'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)', 'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income', 'World', nan, 'Data from database: World Development Indicators', 'Last Updated: 06/28/2024']
269

In [6]:
print(list(df2['Country Name'].unique()))
print(len(list(df2['Country Name'].unique())))

['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands', 'Central African Republic', 'Chad', 'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czechia', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Polynesia', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong SAR, China', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', "Korea, Dem. People's Rep.", 'Korea, Rep.', 'Kosovo', 'Kuwait', 'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao SAR, China', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Northern Mariana Islands', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia', 'St. Martin (French part)', 'St. Vincent and the Grenadines', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkiye', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela, RB', 'Viet Nam', 'Virgin Islands (U.S.)', 'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe', 'Africa Eastern and Southern', 'Africa Western and Central', 'Arab World', 'Caribbean small states', 'Central Europe and the Baltics', 'Early-demographic dividend', 'East Asia & Pacific', 'East Asia & Pacific (excluding high income)', 'East Asia & Pacific (IDA & IBRD countries)', 'Euro area', 'Europe & Central Asia', 'Europe & Central Asia (excluding high income)', 'Europe & Central Asia (IDA & IBRD countries)', 'European Union', 'Fragile and conflict affected situations', 'Heavily indebted poor countries (HIPC)', 'High income', 'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only', 'IDA total', 'Late-demographic dividend', 'Latin America & Caribbean', 'Latin America & Caribbean (excluding high income)', 'Latin America & the Caribbean (IDA & IBRD countries)', 'Least developed countries: UN classification', 'Low & middle income', 'Low income', 'Lower middle income', 'Middle East & North Africa', 'Middle East & North Africa (excluding high income)', 'Middle East & North Africa (IDA & IBRD countries)', 'Middle income', 'North America', 'Not classified', 'OECD members', 'Other small states', 'Pacific island small states', 'Post-demographic dividend', 'Pre-demographic dividend', 'Small states', 'South Asia', 'South Asia (IDA & IBRD)', 'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)', 'Sub-Saharan Africa (IDA & IBRD countries)', 'Upper middle income', 'World', nan, 'Data from database: World Development Indicators', 'Last Updated: 06/28/2024', 'Code', 'CC.EST', 'CC.NO.SRC', 'CC.PER.RNK', 'PV.EST', 'PV.NO.SRC', 'PV.PER.RNK']
276

In [7]:
# Disaster data 
print(df3.shape)
df3.head(1)

(26664, 46)

,DisNo.,Historic,Classification Key,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,External IDs,Event Name,ISO,...,Reconstruction Costs ('000 US$),"Reconstruction Costs, Adjusted ('000 US$)",Insured Damage ('000 US$),"Insured Damage, Adjusted ('000 US$)",Total Damage ('000 US$),"Total Damage, Adjusted ('000 US$)",CPI,Admin Units,Entry Date,Last Update
0,,Yes,nat-met-sto-tro,Natural,Meteorological,Storm,Tropical cyclone,NaN,NaN,USA,...,NaN,NaN,NaN,NaN,30000.0,1098720.0,2.730451,NaN,2004-10-18,2023-10-17

In [8]:
# worldbank databank https://databank.worldbank.org/source/world-development-indicators#advancedDownloadOptions
# 266 countries 21 series 64 years
print(df4.shape)
df4.head(20)

(5591, 68)

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023]
0,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8622466,8790140,8969047,9157465,9355514,9565147,...,32716210,33753499,34636207,35643418,36686784,37769499,38972230,40099462,41128771,42239854
1,Afghanistan,AFG,Population growth (annual %),SP.POP.GROW,..,1.92595161110872,2.01487886339461,2.07899662655224,2.13965084372647,2.21600692082533,...,3.65757606530364,3.12134122890873,2.58154939895659,2.86649214750073,2.88520797304849,2.90852909268743,3.13474690779163,2.85135765449931,2.53449831666733,2.66562820222961
2,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,..,..,..,..,..,..,...,2.72454336219565,1.45131466066431,2.26031420279821,2.6470032027451,1.18922812944517,3.91160341625552,-2.35110067203466,-20.7388393676343,-6.24017199240269,..
3,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,..,..,..,..,..,..,...,20497128555.6972,19134221644.7325,18116572395.0772,18753456497.8159,18053222687.4126,18799444490.1128,19955929052.1496,14266499429.8746,14502158192.0904,..
4,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,..,..,..,..,..,..,...,626.512929086139,566.881129708434,523.053011984748,526.140801025756,492.090630986151,497.741431256813,512.055098005672,355.777826392648,352.603733092107,..
5,Afghanistan,AFG,GDP per capita growth (annual %),NY.GDP.PCAP.KD.ZG,..,..,..,..,..,..,...,-0.964803330930579,-1.66641641465459,-0.345802495526272,-0.253593781046973,-1.68857659163658,0.932833385632875,-5.36466592959428,-22.9669419945958,-8.58665190075376,..
6,Afghanistan,AFG,Armed forces personnel (% of total labor force),MS.MIL.TOTL.TF.ZS,..,..,..,..,..,..,...,3.72705501582188,3.70073240669033,3.62353877713756,3.49015888651181,2.9525937221301,3.01507875591777,1.81204522469526,..,..,..
7,Afghanistan,AFG,Military expenditure (% of GDP),MS.MIL.XPND.GD.ZS,..,..,..,..,..,..,...,1.29801287790022,0.994575822723645,0.956772140958855,0.945226799939516,1.00674585570556,1.17096838242129,1.35885692738929,1.827933856217,..,..
8,Afghanistan,AFG,"Government expenditure on education, total (% ...",SE.XPD.TOTL.GD.ZS,..,..,..,..,..,..,...,3.69521999359131,3.2558000087738,4.54397010803223,4.34319019317627,..,..,..,..,..,..
9,Afghanistan,AFG,"Compulsory education, duration (years)",SE.COM.DURS,..,..,..,..,..,..,...,9,9,9,9,9,9,9,9,9,..
10,Afghanistan,AFG,"Unemployment, total (% of total labor force) (...",SL.UEM.TOTL.ZS,..,..,..,..,..,..,...,7.915,9.011,10.1,11.184,11.206,11.224,11.71,11.934,14.1,14.386
11,Afghanistan,AFG,"Employment to population ratio, 15+, total (%)...",SL.EMP.TOTL.SP.ZS,..,..,..,..,..,..,...,43.374,42.924,42.472,42.021,40.493,38.965,36.711,36.263,32.333,31.268
12,Afghanistan,AFG,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,..,..,..,..,..,..,...,100,100,100,100,..,..,..,..,..,..
13,Afghanistan,AFG,Current health expenditure per capita (current...,SH.XPD.CHEX.PC.CD,..,..,..,..,..,..,...,60.18957901,60.05854034,61.48645782,66.90921783,71.33430481,74.23410797,80.28805542,81.31976318,..,..
14,Afghanistan,AFG,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,..,..,..,..,..,..,...,9.52887821,10.10534763,11.81859016,12.62081718,14.20841885,14.83131981,15.53361416,21.82794952,..,..
15,Afghanistan,AFG,"International tourism, expenditures (current US$)",ST.INT.XPND.CD,..,..,..,..,..,..,...,140000000,151000000,89000000,130000000,226000000,168000000,49000000,..,..,..
16,Afghanistan,AFG,Strength of legal rights index (0=weak to 12=s...,IC.LGL.CRED.XQ,..,..,..,..,..,..,...,9,9,9,9,10,10,..,..,..,..
17,Afghanistan,AFG,Control of Corruption: Percentile Rank,CC.PER.RNK,..,..,..,..,..,..,...,5.28846168518066,5.7142858505249,3.80952382087708,3.80952382087708,4.7619047164917,5.7142858505249,4.7619047164917,12.380952835083,12.2641506195068,..
18,Afghanistan,AFG,Rule of Law: Percentile Rank,RL.PER.RNK,..,..,..,..,..,..,...,4.32692289352417,4.2857141494751,5.7142858505249,5.2380952835083,4.2857141494751,4.2857141494751,2.38095235824585,1.90476191043854,5.18867921829224,..
19,Afghanistan,AFG,Government Effectiveness: Percentile Rank,GE.PER.RNK,..,..,..,..,..,..,...,7.21153831481934,6.66666650772095,7.61904764175415,7.14285707473755,7.14285707473755,6.66666650772095,5.2380952835083,5.2380952835083,1.88679242134094,..

In [9]:
df44 = df4.copy()
df44.columns = df44.columns.to_series().replace(
    r'^(\d{4}) \[YR\d{4}\]$',
    r'\1',
    regex=True
)
print(df44.columns)
df44.head(2)

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code', '1960',
       '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023'],
      dtype='object')

,Country Name,Country Code,Series Name,Series Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8622466,8790140,8969047,9157465,9355514,9565147,...,32716210,33753499,34636207,35643418,36686784,37769499,38972230,40099462,41128771,42239854
1,Afghanistan,AFG,Population growth (annual %),SP.POP.GROW,..,1.92595161110872,2.01487886339461,2.07899662655224,2.13965084372647,2.21600692082533,...,3.65757606530364,3.12134122890873,2.58154939895659,2.86649214750073,2.88520797304849,2.90852909268743,3.13474690779163,2.85135765449931,2.53449831666733,2.66562820222961

In [10]:
# to do

In [11]:
df444= df44.sort_values(by=["Series Name", "Country Name"])
df444 = df444.dropna()
print(df444.shape)
df444.head(3)

(5586, 68)

,Country Name,Country Code,Series Name,Series Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
6,Afghanistan,AFG,Armed forces personnel (% of total labor force),MS.MIL.TOTL.TF.ZS,..,..,..,..,..,..,...,3.72705501582188,3.70073240669033,3.62353877713756,3.49015888651181,2.9525937221301,3.01507875591777,1.81204522469526,..,..,..
4563,Africa Eastern and Southern,AFE,Armed forces personnel (% of total labor force),MS.MIL.TOTL.TF.ZS,..,..,..,..,..,..,...,0.62903026918525,0.605281900453963,0.538655325908266,0.514660592658541,0.51173656360947,0.497166127180999,0.435665062486187,..,..,..
4584,Africa Western and Central,AFW,Armed forces personnel (% of total labor force),MS.MIL.TOTL.TF.ZS,..,..,..,..,..,..,...,0.301808284295757,0.32145256580984,0.313934275271801,0.317382883149051,0.324083698170408,0.382851379056212,0.329197509106008,..,..,..

In [12]:
country_list_df4 = list(df444['Country Name'].unique())
print(country_list_df4)
print(len(country_list_df4))

['Afghanistan', 'Africa Eastern and Southern', 'Africa Western and Central', 'Albania', 'Algeria', 'American Samoa', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Arab World', 'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Caribbean small states', 'Cayman Islands', 'Central African Republic', 'Central Europe and the Baltics', 'Chad', 'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czechia', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Early-demographic dividend', 'East Asia & Pacific', 'East Asia & Pacific (IDA & IBRD countries)', 'East Asia & Pacific (excluding high income)', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Euro area', 'Europe & Central Asia', 'Europe & Central Asia (IDA & IBRD countries)', 'Europe & Central Asia (excluding high income)', 'European Union', 'Faroe Islands', 'Fiji', 'Finland', 'Fragile and conflict affected situations', 'France', 'French Polynesia', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Heavily indebted poor countries (HIPC)', 'High income', 'Honduras', 'Hong Kong SAR, China', 'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA blend', 'IDA only', 'IDA total', 'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', "Korea, Dem. People's Rep.", 'Korea, Rep.', 'Kosovo', 'Kuwait', 'Kyrgyz Republic', 'Lao PDR', 'Late-demographic dividend', 'Latin America & Caribbean', 'Latin America & Caribbean (excluding high income)', 'Latin America & the Caribbean (IDA & IBRD countries)', 'Latvia', 'Least developed countries: UN classification', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Low & middle income', 'Low income', 'Lower middle income', 'Luxembourg', 'Macao SAR, China', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.', 'Middle East & North Africa', 'Middle East & North Africa (IDA & IBRD countries)', 'Middle East & North Africa (excluding high income)', 'Middle income', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North America', 'North Macedonia', 'Northern Mariana Islands', 'Norway', 'Not classified', 'OECD members', 'Oman', 'Other small states', 'Pacific island small states', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Post-demographic dividend', 'Pre-demographic dividend', 'Puerto Rico', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia', 'Small states', 'Solomon Islands', 'Somalia', 'South Africa', 'South Asia', 'South Asia (IDA & IBRD)', 'South Sudan', 'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia', 'St. Martin (French part)', 'St. Vincent and the Grenadines', 'Sub-Saharan Africa', 'Sub-Saharan Africa (IDA & IBRD countries)', 'Sub-Saharan Africa (excluding high income)', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkiye', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela, RB', 'Viet Nam', 'Virgin Islands (U.S.)', 'West Bank and Gaza', 'World', 'Yemen, Rep.', 'Zambia', 'Zimbabwe']
266

In [27]:
# saving whole dataframe

df444.to_csv('../Resources/DataFrames/world_data_cleaned.csv', index=False, header=True)
# df444 = pd.read_csv("../Resources/DataFrames/world_data_cleaned.csv")
# df444.head(2)

In [18]:
increment = 0
series_dfs = {}
for series_name in df444['Series Name'].unique():
    increment += 1
    name = f"series{increment}"
    series_dfs[name] = df444[df444['Series Name'] == series_name]
    print(f" series {name} below ********************")
    print()
    print(series_dfs[name].head(2))
    print()
    series_dfs[name].to_csv(f'../Resources/DataFrames/series_df/{name}.csv', index=False, header=True)

 series series1 below ********************

                     Country Name Country Code  \
6                     Afghanistan          AFG
4563  Africa Eastern and Southern          AFE

                                          Series Name        Series Code 1960  \
6     Armed forces personnel (% of total labor force)  MS.MIL.TOTL.TF.ZS   ..
4563  Armed forces personnel (% of total labor force)  MS.MIL.TOTL.TF.ZS   ..

     1961 1962 1963 1964 1965  ...              2014               2015  \
6      ..   ..   ..   ..   ..  ...  3.72705501582188   3.70073240669033
4563   ..   ..   ..   ..   ..  ...  0.62903026918525  0.605281900453963

                   2016               2017              2018  \
6      3.62353877713756   3.49015888651181   2.9525937221301
4563  0.538655325908266  0.514660592658541  0.51173656360947

                   2019               2020 2021 2022 2023
6      3.01507875591777   1.81204522469526   ..   ..   ..
4563  0.497166127180999  0.435665062486187   ..   ..   ..

[2 rows x 68 columns]

 series series2 below ********************

                     Country Name Country Code  \
9                     Afghanistan          AFG
4566  Africa Eastern and Southern          AFE

                                 Series Name  Series Code 1960 1961 1962 1963  \
9     Compulsory education, duration (years)  SE.COM.DURS   ..   ..   ..   ..
4566  Compulsory education, duration (years)  SE.COM.DURS   ..   ..   ..   ..

     1964 1965  ... 2014 2015 2016 2017 2018 2019 2020 2021 2022 2023
9      ..   ..  ...    9    9    9    9    9    9    9    9    9   ..
4566   ..   ..  ...    7    7    7    7    7    7    7    7    7    7

[2 rows x 68 columns]

 series series3 below ********************

                     Country Name Country Code  \
17                    Afghanistan          AFG
4574  Africa Eastern and Southern          AFE

                                 Series Name Series Code 1960 1961 1962 1963  \
17    Control of Corruption: Percentile Rank  CC.PER.RNK   ..   ..   ..   ..
4574  Control of Corruption: Percentile Rank  CC.PER.RNK   ..   ..   ..   ..

     1964 1965  ...              2014             2015              2016  \
17     ..   ..  ...  5.28846168518066  5.7142858505249  3.80952382087708
4574   ..   ..  ...                ..               ..                ..

                  2017             2018             2019             2020  \
17    3.80952382087708  4.7619047164917  5.7142858505249  4.7619047164917
4574                ..               ..               ..               ..

                 2021              2022 2023
17    12.380952835083  12.2641506195068   ..
4574               ..                ..   ..

[2 rows x 68 columns]

 series series4 below ********************

                     Country Name Country Code  \
14                    Afghanistan          AFG
4571  Africa Eastern and Southern          AFE

                                Series Name        Series Code 1960 1961 1962  \
14    Current health expenditure (% of GDP)  SH.XPD.CHEX.GD.ZS   ..   ..   ..
4571  Current health expenditure (% of GDP)  SH.XPD.CHEX.GD.ZS   ..   ..   ..

     1963 1964 1965  ...              2014           2015              2016  \
14     ..   ..   ..  ...        9.52887821    10.10534763       11.81859016
4571   ..   ..   ..  ...  5.84083832735623  5.99817970586  6.09798592173777

                  2017              2018              2019              2020  \
14         12.62081718       14.20841885       14.83131981       15.53361416
4571  5.95389218479412  5.80933394285329  5.83022337278492  5.88177898344544

                  2021 2022 2023
14         21.82794952   ..   ..
4571  5.86555257621342   ..   ..

[2 rows x 68 columns]

 series series5 below ********************

                     Country Name Country Code  \
13                    Afghanistan          AFG
4570  Africa Eastern and Southern          AFE

                                            Series Name        Series Code  \
13    Current health expenditure per capita (current...  SH.XPD.CHEX.PC.CD
4570  Current health expenditure per capita (current...  SH.XPD.CHEX.PC.CD

     1960 1961 1962 1963 1964 1965  ...              2014              2015  \
13     ..   ..   ..   ..   ..   ..  ...       60.18957901       60.05854034
4570   ..   ..   ..   ..   ..   ..  ...  101.823439306303  93.7748478025413

                  2016              2017              2018              2019  \
13         61.48645782       66.90921783       71.33430481       74.23410797
4570  88.7445659145673  92.9328629491339  92.9642508697595  89.9445460259529

                  2020              2021 2022 2023
13         80.28805542       81.31976318   ..   ..
4570  81.4924179824656  92.2863864495709   ..   ..

[2 rows x 68 columns]

 series series6 below ********************

                     Country Name Country Code  \
11                    Afghanistan          AFG
4568  Africa Eastern and Southern          AFE

                                            Series Name        Series Code  \
11    Employment to population ratio, 15+, total (%)...  SL.EMP.TOTL.SP.ZS
4568  Employment to population ratio, 15+, total (%)...  SL.EMP.TOTL.SP.ZS

     1960 1961 1962 1963 1964 1965  ...              2014              2015  \
11     ..   ..   ..   ..   ..   ..  ...            43.374            42.924
4568   ..   ..   ..   ..   ..   ..  ...  65.2063093581412  65.2226744895085

                  2016              2017              2018              2019  \
11              42.472            42.021            40.493            38.965
4568  65.0638339181352  64.9699226624547  64.8454697206443  64.6493081143125

                  2020              2021              2022              2023
11              36.711            36.263            32.333            31.268
4568  63.5607739506262  63.6125633843166  64.3029281963663  64.4369662191598

[2 rows x 68 columns]

 series series7 below ********************

                     Country Name Country Code        Series Name  \
3                     Afghanistan          AFG  GDP (current US$)
4560  Africa Eastern and Southern          AFE  GDP (current US$)

         Series Code              1960              1961              1962  \
3     NY.GDP.MKTP.CD                ..                ..                ..
4560  NY.GDP.MKTP.CD  21216962289.5576  22307471355.6779  23702472100.0023

                  1963              1964              1965  ...  \
3                   ..                ..                ..  ...
4560  25779376632.7218  28049537324.8574  30374910059.5078  ...

                  2014              2015              2016              2017  \
3     20497128555.6972  19134221644.7325  18116572395.0772  18753456497.8159
4560   979689662429.07  899295676086.836  829829959319.292  940105480733.676

                  2018              2019              2020              2021  \
3     18053222687.4126  18799444490.1128  19955929052.1496  14266499429.8746
4560  1012719339457.72  1006527294483.09  929074086484.093  1086772164579.87

                  2022              2023
3     14502158192.0904                ..
4560  1183962133998.87  1236163044999.97

[2 rows x 68 columns]

 series series8 below ********************

                     Country Name Country Code            Series Name  \
2                     Afghanistan          AFG  GDP growth (annual %)
4559  Africa Eastern and Southern          AFE  GDP growth (annual %)

            Series Code 1960               1961             1962  \
2     NY.GDP.MKTP.KD.ZG   ..                 ..               ..
4559  NY.GDP.MKTP.KD.ZG   ..  0.460106039842898  7.8680125100649

                  1963              1964              1965  ...  \
2                   ..                ..                ..  ...
4559  5.61640005936856  4.66813529350271  5.13898951480421  ...

                  2014              2015              2016              2017  \
2     2.72454336219565  1.45131466066431  2.26031420279821   2.6470032027451
4559  3.98318178416663  3.01157198178016  2.18358078096774  2.65139974202668

                  2018              2019               2020  \
2     1.18922812944517  3.91160341625552  -2.35110067203466
4559    2.681718104162  2.18925928385238  -2.78037855183037

                   2021               2022              2023
2     -20.7388393676343  -6.24017199240269                ..
4559   4.49737998264359   3.55442232938942  2.62231040700607

[2 rows x 68 columns]

 series series9 below ********************

                     Country Name Country Code                   Series Name  \
4                     Afghanistan          AFG  GDP per capita (current US$)
4561  Africa Eastern and Southern          AFE  GDP per capita (current US$)

         Series Code              1960              1961              1962  \
4     NY.GDP.PCAP.CD                ..                ..                ..
4561  NY.GDP.PCAP.CD  162.342517470388  166.263682006911  171.961915641688

                  1963              1964              1965  ...  \
4                   ..                ..                ..  ...
4561  182.018479493271  192.639989341492  202.847823990074  ...

                  2014              2015              2016              2017  \
4     626.512929086139  566.881129708434  523.053011984748  526.140801025756
4561  1678.55360976878  1498.80508358802  1346.30128120779   1485.7535786147

                  2018              2019              2020              2021  \
4     492.090630986151  497.741431256813  512.055098005672  355.777826392648
4561  1558.61207925907  1508.48688648948  1356.08887141531  1545.95669660381

                  2022             2023
4     352.603733092107               ..
4561  1642.43203899493  1672.5059574692

[2 rows x 68 columns]

 series series10 below ********************

                     Country Name Country Code  \
5                     Afghanistan          AFG
4562  Africa Eastern and Southern          AFE

                           Series Name        Series Code 1960  \
5     GDP per capita growth (annual %)  NY.GDP.PCAP.KD.ZG   ..
4562  GDP per capita growth (annual %)  NY.GDP.PCAP.KD.ZG   ..

                   1961            1962              1963              1964  \
5                    ..              ..                ..                ..
4562  -2.14306469551924  4.998781049088  2.78643433217508  1.81040382589094

                  1965  ...                2014               2015  \
5                   ..  ...  -0.964803330930579  -1.66641641465459
4562  2.23471903147583  ...    1.17556955189922  0.203288817336244

                    2016                  2017                  2018  \
5     -0.345802495526272    -0.253593781046973     -1.68857659163658
4562  -0.530115361564526  -0.00416134553202596  -0.00647914054896148

                    2019               2020               2021  \
5      0.932833385632875  -5.36466592959428  -22.9669419945958
4562  -0.488722906547807  -5.31618506549071   1.84188174344885

                   2022                2023
5     -8.58665190075376                  ..
4562  0.985594675959462  0.0884836542872591

[2 rows x 68 columns]

 series series11 below ********************

                     Country Name Country Code  \
19                    Afghanistan          AFG
4576  Africa Eastern and Southern          AFE

                                    Series Name Series Code 1960 1961 1962  \
19    Government Effectiveness: Percentile Rank  GE.PER.RNK   ..   ..   ..
4576  Government Effectiveness: Percentile Rank  GE.PER.RNK   ..   ..   ..

     1963 1964 1965  ...              2014              2015  \
19     ..   ..   ..  ...  7.21153831481934  6.66666650772095
4576   ..   ..   ..  ...                ..                ..

                  2016              2017              2018              2019  \
19    7.61904764175415  7.14285707473755  7.14285707473755  6.66666650772095
4576                ..                ..                ..                ..

                 2020             2021              2022 2023
19    5.2380952835083  5.2380952835083  1.88679242134094   ..
4576               ..               ..                ..   ..

[2 rows x 68 columns]

 series series12 below ********************

                     Country Name Country Code  \
8                     Afghanistan          AFG
4565  Africa Eastern and Southern          AFE

                                            Series Name        Series Code  \
8     Government expenditure on education, total (% ...  SE.XPD.TOTL.GD.ZS
4565  Government expenditure on education, total (% ...  SE.XPD.TOTL.GD.ZS

     1960 1961 1962 1963 1964 1965  ...              2014              2015  \
8      ..   ..   ..   ..   ..   ..  ...  3.69521999359131   3.2558000087738
4565   ..   ..   ..   ..   ..   ..  ...   4.7172999382019  4.75098514556884

                  2016              2017              2018              2019  \
8     4.54397010803223  4.34319019317627                ..                ..
4565  4.88207006454468  4.82044506072998  4.73974990844727  4.51147508621216

                  2020              2021             2022 2023
8                   ..                ..               ..   ..
4565  4.35243988037109  4.67440986633301  4.2441201210022   ..

[2 rows x 68 columns]

 series series13 below ********************

                     Country Name Country Code  \
15                    Afghanistan          AFG
4572  Africa Eastern and Southern          AFE

                                            Series Name     Series Code 1960  \
15    International tourism, expenditures (current US$)  ST.INT.XPND.CD   ..
4572  International tourism, expenditures (current US$)  ST.INT.XPND.CD   ..

     1961 1962 1963 1964 1965  ...              2014              2015  \
15     ..   ..   ..   ..   ..  ...         140000000         151000000
4572   ..   ..   ..   ..   ..  ...  13730114524.5085  13529345035.5713

                  2016             2017              2018              2019  \
15            89000000        130000000         226000000         168000000
4572  12785958383.5774  13833871656.694  13948520114.4888  13285421768.3955

          2020 2021 2022 2023
15    49000000   ..   ..   ..
4572        ..   ..   ..   ..

[2 rows x 68 columns]

 series series14 below ********************

                     Country Name Country Code  \
7                     Afghanistan          AFG
4564  Africa Eastern and Southern          AFE

                          Series Name        Series Code 1960  \
7     Military expenditure (% of GDP)  MS.MIL.XPND.GD.ZS   ..
4564  Military expenditure (% of GDP)  MS.MIL.XPND.GD.ZS   ..

                  1961              1962             1963              1964  \
7                   ..                ..               ..                ..
4564  1.53700823708967  2.09189437269344  1.8823609644992  2.45613657540455

                  1965  ...              2014               2015  \
7                   ..  ...  1.29801287790022  0.994575822723645
4564  2.48642415562278  ...  1.75908677004752   1.53519896244988

                   2016               2017              2018  \
7     0.956772140958855  0.945226799939516  1.00674585570556
4564   1.27457624379763   1.27237611032072  1.11876116777695

                  2019              2020            2021              2022  \
7     1.17096838242129  1.35885692738929  1.827933856217                ..
4564  1.07397677101422  1.10276155271469  1.005834982205  1.00007990958629

     2023
7      ..
4564   ..

[2 rows x 68 columns]

 series series15 below ********************

                     Country Name Country Code  \
12                    Afghanistan          AFG
4569  Africa Eastern and Southern          AFE

                                            Series Name        Series Code  \
12    PM2.5 air pollution, population exposed to lev...  EN.ATM.PM25.MC.ZS
4569  PM2.5 air pollution, population exposed to lev...  EN.ATM.PM25.MC.ZS

     1960 1961 1962 1963 1964 1965  ... 2014 2015 2016 2017 2018 2019 2020  \
12     ..   ..   ..   ..   ..   ..  ...  100  100  100  100   ..   ..   ..
4569   ..   ..   ..   ..   ..   ..  ...  100  100  100  100   ..   ..   ..

     2021 2022 2023
12     ..   ..   ..
4569   ..   ..   ..

[2 rows x 68 columns]

 series series16 below ********************

                     Country Name Country Code  \
20                    Afghanistan          AFG
4577  Africa Eastern and Southern          AFE

                                            Series Name Series Code 1960 1961  \
20    Political Stability and Absence of Violence/Te...  PV.PER.RNK   ..   ..
4577  Political Stability and Absence of Violence/Te...  PV.PER.RNK   ..   ..

     1962 1963 1964 1965  ...              2014               2015  \
20     ..   ..   ..   ..  ...  2.85714292526245  0.952380955219269
4577   ..   ..   ..   ..  ...                ..                 ..

                   2016               2017               2018  \
20    0.952380955219269  0.476190477609634  0.471698105335236
4577                 ..                 ..                 ..

                   2019               2020              2021  \
20    0.943396210670471  0.471698105335236  1.41509437561035
4577                 ..                 ..                ..

                   2022 2023
20    0.471698105335236   ..
4577                 ..   ..

[2 rows x 68 columns]

 series series17 below ********************

                     Country Name Country Code                   Series Name  \
1                     Afghanistan          AFG  Population growth (annual %)
4558  Africa Eastern and Southern          AFE  Population growth (annual %)

      Series Code 1960              1961              1962              1963  \
1     SP.POP.GROW   ..  1.92595161110872  2.01487886339461  2.07899662655224
4558  SP.POP.GROW   ..  2.66018011627118  2.73263311469827  2.75324827208996

                  1964              1965  ...              2014  \
1     2.13965084372647  2.21600692082533  ...  3.65757606530364
4558  2.80691497157682  2.84078687831499  ...  2.77499029133435

                  2015              2016              2017              2018  \
1     3.12134122890873  2.58154939895659  2.86649214750073  2.88520797304849
4558  2.80258582087383  2.72815852998758  2.65567159923015  2.68837142807428

                  2019              2020              2021              2022  \
1     2.90852909268743  3.13474690779163  2.85135765449931  2.53449831666733
4558  2.69113438056398  2.67818371641901  2.60747169409558  2.54375652455458

                  2023
1     2.66562820222961
4558  2.53158671228431

[2 rows x 68 columns]

 series series18 below ********************

                     Country Name Country Code        Series Name  \
0                     Afghanistan          AFG  Population, total
4557  Africa Eastern and Southern          AFE  Population, total

      Series Code       1960       1961       1962       1963       1964  \
0     SP.POP.TOTL    8622466    8790140    8969047    9157465    9355514
4557  SP.POP.TOTL  130692579  134169237  137835590  141630546  145605995

           1965  ...       2014       2015       2016       2017       2018  \
0       9565147  ...   32716210   33753499   34636207   35643418   36686784
4557  149742351  ...  583651101  600008424  616377605  632746570  649757148

           2019       2020       2021       2022       2023
0      37769499   38972230   40099462   41128771   42239854
4557  667242986  685112979  702977106  720859132  739108306

[2 rows x 68 columns]

 series series19 below ********************

                     Country Name Country Code                   Series Name  \
18                    Afghanistan          AFG  Rule of Law: Percentile Rank
4575  Africa Eastern and Southern          AFE  Rule of Law: Percentile Rank


 series series21 below ********************

                     Country Name Country Code  \
10                    Afghanistan          AFG
4567  Africa Eastern and Southern          AFE

                                            Series Name     Series Code 1960  \
10    Unemployment, total (% of total labor force) (...  SL.UEM.TOTL.ZS   ..
4567  Unemployment, total (% of total labor force) (...  SL.UEM.TOTL.ZS   ..

     1961 1962 1963 1964 1965  ...              2014              2015  \
10     ..   ..   ..   ..   ..  ...             7.915             9.011
4567   ..   ..   ..   ..   ..  ...  6.79081012095129  6.88031174359159

                  2016              2017              2018              2019  \
10                10.1            11.184            11.206            11.224
4567  7.02762996710982  7.12303202761926  7.06844009954607  7.24466987969725

                  2020              2021             2022              2023
10               11.71            11.934             14.1            14.386
4567  7.66116109948316  7.96449309355542  7.4482217862402  7.47282411216494

[2 rows x 68 columns]

In [25]:
filepath_load = '../Resources/DataFrames/series_df/'
series_df = {}
increment = 0

for file in os.listdir(filepath_load):
    increment +=1
    current_filepath = os.path.join(filepath_load, file)
    series_df[f"series{increment}"] = pd.read_csv(current_filepath)
    name = f"series{increment}"
    print(f"DataFrame series{increment} has been loaded from {file} @ {current_filepath}")
    print()
    print(series_df[name].head(1))
    print()
    print()

DataFrame series1 has been loaded from series3.csv @ ../Resources/DataFrames/series_df/series3.csv

  Country Name Country Code                             Series Name  \
0  Afghanistan          AFG  Control of Corruption: Percentile Rank

  Series Code 1960 1961 1962 1963 1964 1965  ...              2014  \
0  CC.PER.RNK   ..   ..   ..   ..   ..   ..  ...  5.28846168518066

              2015              2016              2017             2018  \
0  5.7142858505249  3.80952382087708  3.80952382087708  4.7619047164917

              2019             2020             2021              2022 2023
0  5.7142858505249  4.7619047164917  12.380952835083  12.2641506195068   ..

[1 rows x 68 columns]


DataFrame series2 has been loaded from series2.csv @ ../Resources/DataFrames/series_df/series2.csv

  Country Name Country Code                             Series Name  \
0  Afghanistan          AFG  Compulsory education, duration (years)

   Series Code 1960 1961 1962 1963 1964 1965  ... 2014 2015 2016 2017 2018  \
0  SE.COM.DURS   ..   ..   ..   ..   ..   ..  ...    9    9    9    9    9

  2019 2020 2021 2022 2023
0    9    9    9    9   ..

[1 rows x 68 columns]


DataFrame series3 has been loaded from series1.csv @ ../Resources/DataFrames/series_df/series1.csv

  Country Name Country Code                                      Series Name  \
0  Afghanistan          AFG  Armed forces personnel (% of total labor force)

         Series Code 1960 1961 1962 1963 1964 1965  ...              2014  \
0  MS.MIL.TOTL.TF.ZS   ..   ..   ..   ..   ..   ..  ...  3.72705501582188

               2015              2016              2017             2018  \
0  3.70073240669033  3.62353877713756  3.49015888651181  2.9525937221301

               2019              2020 2021 2022 2023
0  3.01507875591777  1.81204522469526   ..   ..   ..

[1 rows x 68 columns]


DataFrame series4 has been loaded from series5.csv @ ../Resources/DataFrames/series_df/series5.csv

  Country Name Country Code  \
0  Afghanistan          AFG

                                         Series Name        Series Code 1960  \
0  Current health expenditure per capita (current...  SH.XPD.CHEX.PC.CD   ..

  1961 1962 1963 1964 1965  ...         2014         2015         2016  \
0   ..   ..   ..   ..   ..  ...  60.18957901  60.05854034  61.48645782

          2017         2018         2019         2020         2021 2022 2023
0  66.90921783  71.33430481  74.23410797  80.28805542  81.31976318   ..   ..

[1 rows x 68 columns]


DataFrame series5 has been loaded from series4.csv @ ../Resources/DataFrames/series_df/series4.csv

  Country Name Country Code                            Series Name  \
0  Afghanistan          AFG  Current health expenditure (% of GDP)

         Series Code 1960 1961 1962 1963 1964 1965  ...        2014  \
0  SH.XPD.CHEX.GD.ZS   ..   ..   ..   ..   ..   ..  ...  9.52887821

          2015         2016         2017         2018         2019  \
0  10.10534763  11.81859016  12.62081718  14.20841885  14.83131981

          2020         2021 2022 2023
0  15.53361416  21.82794952   ..   ..

[1 rows x 68 columns]


DataFrame series6 has been loaded from series6.csv @ ../Resources/DataFrames/series_df/series6.csv

  Country Name Country Code  \
0  Afghanistan          AFG

                                         Series Name        Series Code 1960  \
0  Employment to population ratio, 15+, total (%)...  SL.EMP.TOTL.SP.ZS   ..

  1961 1962 1963 1964 1965  ...    2014    2015    2016    2017    2018  \
0   ..   ..   ..   ..   ..  ...  43.374  42.924  42.472  42.021  40.493

     2019    2020    2021    2022    2023
0  38.965  36.711  36.263  32.333  31.268

[1 rows x 68 columns]


DataFrame series7 has been loaded from series7.csv @ ../Resources/DataFrames/series_df/series7.csv

  Country Name Country Code        Series Name     Series Code 1960 1961 1962  \
0  Afghanistan          AFG  GDP (current US$)  NY.GDP.MKTP.CD   ..   ..   ..

  1963 1964 1965  ...              2014              2015              2016  \
0   ..   ..   ..  ...  20497128555.6972  19134221644.7325  18116572395.0772

               2017              2018              2019              2020  \
0  18753456497.8159  18053222687.4126  18799444490.1128  19955929052.1496

               2021              2022 2023
0  14266499429.8746  14502158192.0904   ..

[1 rows x 68 columns]


DataFrame series8 has been loaded from series20.csv @ ../Resources/DataFrames/series_df/series20.csv

  Country Name Country Code  \
0  Afghanistan          AFG

                                         Series Name     Series Code 1960  \
0  Strength of legal rights index (0=weak to 12=s...  IC.LGL.CRED.XQ   ..

  1961 1962 1963 1964 1965  ... 2014 2015 2016 2017 2018 2019 2020 2021 2022  \
0   ..   ..   ..   ..   ..  ...    9    9    9    9   10   10   ..   ..   ..

  2023
0   ..

[1 rows x 68 columns]


DataFrame series9 has been loaded from series21.csv @ ../Resources/DataFrames/series_df/series21.csv

  Country Name Country Code  \
0  Afghanistan          AFG

                                         Series Name     Series Code 1960  \
0  Unemployment, total (% of total labor force) (...  SL.UEM.TOTL.ZS   ..

  1961 1962 1963 1964 1965  ...   2014   2015  2016    2017    2018    2019  \
0   ..   ..   ..   ..   ..  ...  7.915  9.011  10.1  11.184  11.206  11.224

    2020    2021  2022    2023
0  11.71  11.934  14.1  14.386

[1 rows x 68 columns]


DataFrame series10 has been loaded from series19.csv @ ../Resources/DataFrames/series_df/series19.csv

  Country Name Country Code                   Series Name Series Code 1960  \
0  Afghanistan          AFG  Rule of Law: Percentile Rank  RL.PER.RNK   ..

  1961 1962 1963 1964 1965  ...              2014             2015  \
0   ..   ..   ..   ..   ..  ...  4.32692289352417  4.2857141494751

              2016             2017             2018             2019  \
0  5.7142858505249  5.2380952835083  4.2857141494751  4.2857141494751

               2020              2021              2022 2023
0  2.38095235824585  1.90476191043854  5.18867921829224   ..

[1 rows x 68 columns]


DataFrame series11 has been loaded from series18.csv @ ../Resources/DataFrames/series_df/series18.csv

  Country Name Country Code        Series Name  Series Code     1960     1961  \
0  Afghanistan          AFG  Population, total  SP.POP.TOTL  8622466  8790140

      1962     1963     1964     1965  ...      2014      2015      2016  \
0  8969047  9157465  9355514  9565147  ...  32716210  33753499  34636207

       2017      2018      2019      2020      2021      2022      2023
0  35643418  36686784  37769499  38972230  40099462  41128771  42239854

[1 rows x 68 columns]


DataFrame series12 has been loaded from series16.csv @ ../Resources/DataFrames/series_df/series16.csv

  Country Name Country Code  \
0  Afghanistan          AFG

                                         Series Name Series Code 1960 1961  \
0  Political Stability and Absence of Violence/Te...  PV.PER.RNK   ..   ..

  1962 1963 1964 1965  ...              2014               2015  \
0   ..   ..   ..   ..  ...  2.85714292526245  0.952380955219269

                2016               2017               2018               2019  \
0  0.952380955219269  0.476190477609634  0.471698105335236  0.943396210670471

                2020              2021               2022 2023
0  0.471698105335236  1.41509437561035  0.471698105335236   ..

[1 rows x 68 columns]


DataFrame series13 has been loaded from series17.csv @ ../Resources/DataFrames/series_df/series17.csv

  Country Name Country Code                   Series Name  Series Code 1960  \
0  Afghanistan          AFG  Population growth (annual %)  SP.POP.GROW   ..

               1961              1962              1963              1964  \
0  1.92595161110872  2.01487886339461  2.07899662655224  2.13965084372647

               1965  ...              2014              2015  \
0  2.21600692082533  ...  3.65757606530364  3.12134122890873

               2016              2017              2018              2019  \
0  2.58154939895659  2.86649214750073  2.88520797304849  2.90852909268743

               2020              2021              2022              2023
0  3.13474690779163  2.85135765449931  2.53449831666733  2.66562820222961

[1 rows x 68 columns]


DataFrame series14 has been loaded from series15.csv @ ../Resources/DataFrames/series_df/series15.csv

  Country Name Country Code  \
0  Afghanistan          AFG

                                         Series Name        Series Code 1960  \
0  PM2.5 air pollution, population exposed to lev...  EN.ATM.PM25.MC.ZS   ..

  1961 1962 1963 1964 1965  ... 2014 2015 2016 2017 2018 2019 2020 2021 2022  \
0   ..   ..   ..   ..   ..  ...  100  100  100  100   ..   ..   ..   ..   ..

  2023
0   ..

[1 rows x 68 columns]


DataFrame series15 has been loaded from series14.csv @ ../Resources/DataFrames/series_df/series14.csv

  Country Name Country Code                      Series Name  \
0  Afghanistan          AFG  Military expenditure (% of GDP)

         Series Code 1960 1961 1962 1963 1964 1965  ...              2014  \
0  MS.MIL.XPND.GD.ZS   ..   ..   ..   ..   ..   ..  ...  1.29801287790022

                2015               2016               2017              2018  \
0  0.994575822723645  0.956772140958855  0.945226799939516  1.00674585570556

               2019              2020            2021 2022 2023
0  1.17096838242129  1.35885692738929  1.827933856217   ..   ..

[1 rows x 68 columns]


DataFrame series16 has been loaded from series10.csv @ ../Resources/DataFrames/series_df/series10.csv

  Country Name Country Code                       Series Name  \
0  Afghanistan          AFG  GDP per capita growth (annual %)

         Series Code 1960 1961 1962 1963 1964 1965  ...                2014  \
0  NY.GDP.PCAP.KD.ZG   ..   ..   ..   ..   ..   ..  ...  -0.964803330930579

                2015                2016                2017  \
0  -1.66641641465459  -0.345802495526272  -0.253593781046973

                2018               2019               2020               2021  \
0  -1.68857659163658  0.932833385632875  -5.36466592959428  -22.9669419945958

                2022 2023
0  -8.58665190075376   ..

[1 rows x 68 columns]


DataFrame series17 has been loaded from series11.csv @ ../Resources/DataFrames/series_df/series11.csv

  Country Name Country Code                                Series Name  \
0  Afghanistan          AFG  Government Effectiveness: Percentile Rank

  Series Code 1960 1961 1962 1963 1964 1965  ...              2014  \
0  GE.PER.RNK   ..   ..   ..   ..   ..   ..  ...  7.21153831481934

               2015              2016              2017              2018  \
0  6.66666650772095  7.61904764175415  7.14285707473755  7.14285707473755

               2019             2020             2021              2022 2023
0  6.66666650772095  5.2380952835083  5.2380952835083  1.88679242134094   ..

[1 rows x 68 columns]

DataFrame series18 has been loaded from series13.csv @ ../Resources/DataFrames/series_df/series13.csv

  Country Name Country Code  \
0  Afghanistan          AFG

                                         Series Name     Series Code 1960  \
0  International tourism, expenditures (current US$)  ST.INT.XPND.CD   ..

  1961 1962 1963 1964 1965  ...       2014       2015      2016       2017  \
0   ..   ..   ..   ..   ..  ...  140000000  151000000  89000000  130000000

        2018       2019      2020 2021 2022 2023
0  226000000  168000000  49000000   ..   ..   ..

[1 rows x 68 columns]


DataFrame series19 has been loaded from series12.csv @ ../Resources/DataFrames/series_df/series12.csv

  Country Name Country Code  \
0  Afghanistan          AFG

                                         Series Name        Series Code 1960  \
0  Government expenditure on education, total (% ...  SE.XPD.TOTL.GD.ZS   ..

  1961 1962 1963 1964 1965  ...              2014             2015  \
0   ..   ..   ..   ..   ..  ...  3.69521999359131  3.2558000087738

               2016              2017 2018 2019 2020 2021 2022 2023
0  4.54397010803223  4.34319019317627   ..   ..   ..   ..   ..   ..

[1 rows x 68 columns]


DataFrame series20 has been loaded from series9.csv @ ../Resources/DataFrames/series_df/series9.csv

  Country Name Country Code                   Series Name     Series Code  \
0  Afghanistan          AFG  GDP per capita (current US$)  NY.GDP.PCAP.CD

  1960 1961 1962 1963 1964 1965  ...              2014              2015  \
0   ..   ..   ..   ..   ..   ..  ...  626.512929086139  566.881129708434

               2016              2017              2018              2019  \
0  523.053011984748  526.140801025756  492.090630986151  497.741431256813

               2020              2021              2022 2023
0  512.055098005672  355.777826392648  352.603733092107   ..

[1 rows x 68 columns]


DataFrame series21 has been loaded from series8.csv @ ../Resources/DataFrames/series_df/series8.csv

  Country Name Country Code            Series Name        Series Code 1960  \
0  Afghanistan          AFG  GDP growth (annual %)  NY.GDP.MKTP.KD.ZG   ..

  1961 1962 1963 1964 1965  ...              2014              2015  \
0   ..   ..   ..   ..   ..  ...  2.72454336219565  1.45131466066431

               2016             2017              2018              2019  \
0  2.26031420279821  2.6470032027451  1.18922812944517  3.91160341625552

                2020               2021               2022 2023
0  -2.35110067203466  -20.7388393676343  -6.24017199240269   ..

[1 rows x 68 columns]

In [26]:
# before saving
# series_dfs['series8']
# after saving
series_df['series20']

,Country Name,Country Code,Series Name,Series Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,AFG,GDP per capita (current US$),NY.GDP.PCAP.CD,..,..,..,..,..,..,...,626.512929086139,566.881129708434,523.053011984748,526.140801025756,492.090630986151,497.741431256813,512.055098005672,355.777826392648,352.603733092107,..
1,Africa Eastern and Southern,AFE,GDP per capita (current US$),NY.GDP.PCAP.CD,162.342517470388,166.263682006911,171.961915641688,182.018479493271,192.639989341492,202.847823990074,...,1678.55360976878,1498.80508358802,1346.30128120779,1485.7535786147,1558.61207925907,1508.48688648948,1356.08887141531,1545.95669660381,1642.43203899493,1672.5059574692
2,Africa Western and Central,AFW,GDP per capita (current US$),NY.GDP.PCAP.CD,122.193931234231,127.732834021678,134.130070528771,139.291221895117,148.821354708312,156.314136371155,...,2248.51842565537,1882.51880807768,1648.92026894717,1590.5557849502,1735.44583276662,1813.60914568405,1688.47087082362,1769.17185266776,1788.8753472127,1584.33328485465
3,Albania,ALB,GDP per capita (current US$),NY.GDP.PCAP.CD,..,..,..,..,..,..,...,4578.63320812155,3952.80357364813,4124.05538986272,4531.03220675893,5287.66080067575,5396.2142432843,5343.0377039956,6377.20309553753,6810.11404104233,8367.77573143421
4,Algeria,DZA,GDP per capita (current US$),NY.GDP.PCAP.CD,239.033005807284,209.917177642367,169.927013321055,225.823391368412,238.877804941679,253.309059020723,...,6164.64469897525,4741.49977033558,4481.08196153066,4615.86874364885,4640.31414537956,4530.10174483631,3794.40952448639,4216.2512851303,5023.25293164928,5260.20624980797
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,West Bank and Gaza,PSE,GDP per capita (current US$),NY.GDP.PCAP.CD,..,..,..,..,..,..,...,3352.11259506043,3272.15432360708,3527.61382413178,3620.36048715937,3562.33094270256,3656.85827137011,3233.56863835858,3678.63565662194,3799.95527015163,3367.60699023864
262,World,WLD,GDP per capita (current US$),NY.GDP.PCAP.CD,450.106029265854,468.456801290015,493.411159252656,521.369207549474,560.587724932527,597.985076823124,...,10918.5540956328,10177.8905141454,10224.0659312632,10762.8045848545,11315.083985152,11358.4786578376,10941.6626777859,12362.4642088343,12730.1571671098,13138.3275456864
263,"Yemen, Rep.",YEM,GDP per capita (current US$),NY.GDP.PCAP.CD,..,..,..,..,..,..,...,1557.60140563182,1488.4162886442,1069.81700944581,893.716500927815,701.714864673796,693.816507640113,626.309168909111,583.849041342565,698.850349965249,533.367123496464
264,Zambia,ZMB,GDP per capita (current US$),NY.GDP.PCAP.CD,228.567398531142,216.274673627806,208.562684585176,209.453361697312,236.941713145039,296.022427096471,...,1724.57621968232,1307.90964916032,1249.92314348406,1495.75213841021,1475.19988338535,1268.12094056241,958.264900505992,1134.71345415843,1456.90157026157,1369.12936484937
265,Zimbabwe,ZWE,GDP per capita (current US$),NY.GDP.PCAP.CD,276.643363257328,279.332656130284,275.966139378504,277.532515496307,282.376856353524,294.893604869097,...,1407.03429109916,1410.32917348908,1421.78779140568,1192.10701198862,2269.17701232332,1421.86859641758,1372.69667433317,1773.92041088078,1676.82148896788,1592.41657368542